@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  background-color: #0251b0;
}

.card {
  font-family: "Kanit", sans-serif;
  padding: 20px;
  width: 20%;
  margin: 20px;
  min-width: 20rem;
  background-color: whitesmoke;
}

.btn {
  font-family: "Kanit", sans-serif;
  width: 48.7%;
  margin: 2px;
  font-family: "Kanit", sans-serif;
  background-color: #029919;
  border: 2px 1px 2px 2px solid black;
  color: white;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
